<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            The Dingus Page / About
        </title>
    </head>
    <body>
        {{> header}}
        <p>Github projects by Matt B will go here</p>

        {{> footer}}
    </body>
</html>